/* Стилизация кнопки */

.button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: var(--white);

  display: inline-block;
  border: 0;
  border-radius: 8px;
  padding: 15px 65px;
}

.button_primary,
.button_primary:disabled:hover {
  background-color: var(--primary);
}

.button_secondary,
.button_secondary:disabled:hover {
  background-color: var(--secondary);
}

.button_alternate,
.button_alternate:disabled:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--grey-3);
}

.button_primary:hover {
  background-color: var(--blue-1);
}

.button_secondary:hover {
  background-color: var(--purple-1);
}

.button_alternate:hover {
  border-color: var(--black);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
